.quiz-app__answer-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  position: relative;
}

.quiz-app__answer-list:has(.correct) {
  & .correct {
    box-shadow: 0 0 0 calc(3 / 16 * 1rem) var(--green-500) inset;

    & .quiz-app__answer-list-img-wrapper {
      background-color: var(--green-500);
      color: var(--white);
    }

    &::after {
      content: "";
      background-image: url("/assets/images/icon-correct.svg");
      background-size: contain;
      aspect-ratio: 1 / 1;
      align-self: center;
      flex: 0 0 calc(32 / 16 * 1rem);
      margin-inline-start: auto;
    }
  }
}

.quiz-app__answer-list:has(.incorrect) {
  & .incorrect {
    box-shadow: 0 0 0 calc(3 / 16 * 1rem) var(--red-500) inset;

    & .quiz-app__answer-list-img-wrapper {
      background-color: var(--red-500);
      color: var(--white);
    }
    &::after {
      content: "";
      background-image: url("/assets/images/icon-incorrect.svg");
      background-size: contain;
      aspect-ratio: 1 / 1;
      align-self: center;
      flex: 0 0 calc(32 / 16 * 1rem);
      margin-inline-start: auto;
    }
  }
}

.quiz-app__answer-list:has(.incorrect):has(.correct) {
  & .correct {
    box-shadow: revert;

    & .quiz-app__answer-list-img-wrapper {
      background-color: var(--grey-50);
      color: var(--grey-500);
    }
  }
}

.quiz-app__answer-list:has(.correct, .incorrect) {
  & button:not(.correct, .incorrect) {
    &:hover,
    &:focus,
    &:focus-visible {
      box-shadow: none;
    }
    & .list-item__img-wrapper {
      background-color: var(--grey-50);
      color: var(--grey-500);
    }
  }
  & button {
    cursor: initial;
  }
}

.quiz-app__answer-list-img-wrapper {
  background-color: var(--grey-50);
  transition: background-color 0.3s, color 0.3s;
}

.submit {
  background-color: var(--purple-600);
  padding-block: calc(19 / 16 * 1rem);
  & > button {
    color: var(--white);
    text-align: center;
    justify-content: center;
    margin-block: calc(-19 / 16 * 1rem);
    padding-block: calc(19 / 16 * 1rem);
  }
}

.alert {
  position: absolute;
  color: var(--alert);
  font: var(--text-preset-4);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + var(--spacing-200)));
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;

  &.active {
    opacity: 1;
  }
  &::before {
    content: "";
    width: var(--spacing-400);
    aspect-ratio: 1 / 1;
    background-image: url(/assets/images/icon-error.svg);
    background-size: var(--spacing-400) auto;
    background-repeat: no-repeat;
    background-position: left center;
    margin-inline-end: var(--spacing-100);
  }
}

@media (width >= calc(768 / 16 * 1rem)) {
  .quiz-app__answer-group {
    gap: var(--spacing-400);
  }

  .submit {
    padding: var(--spacing-400);

    & > button {
      margin: calc(var(--spacing-400) * -1);
      padding: var(--spacing-400);
    }
  }

  .quiz-app__answer-list:has(.correct, .incorrect) {
    & .correct,
    & .incorrect {
      &::after {
        flex: 0 0 calc(40 / 16 * 1rem);
      }
    }
  }

  .alert {
    transform: translate(-50%, calc(100% + var(--spacing-400)));
    &::before {
      content: "";
      width: var(--spacing-500);
      background-size: var(--spacing-500) auto;
      margin-inline-end: var(--spacing-100);
    }
  }
}

@media (width >= calc(1440 / 16 * 1rem)) {
  .quiz-app__answer-group {
    flex: 0 0 calc(564 / 16 * 1rem);
  }
}
