.list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: var(--spacing-200);
}

.list-item {
  padding: var(--spacing-200);
  border-radius: calc(12 / 16 * 1rem);
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item__button {
  display: flex;
  /* width: 100%; */
  align-items: center;
  background-color: transparent;
  gap: var(--spacing-200);
  font: var(--text-preset-4);
  color: var(--primary-text);
  text-align: left;
  margin: calc(var(--spacing-200) * -1);
  padding: var(--spacing-200);
  flex-grow: 1;
  border-radius: calc(12 / 16 * 1rem);
  transition: box-shadow 0.2s;
  align-self: stretch;

  &:not([type="submit"]) {
    &:hover,
    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 calc(3 / 16 * 1rem) var(--purple-600) inset;
      outline: none;

      & .quiz-app__answer-list-img-wrapper {
        background-color: var(--purple-600);
        color: var(--white);
      }
    }
  }
}

.list-item__img-wrapper {
  width: var(--spacing-500);
  color: var(--grey-500);
  aspect-ratio: 1 / 1;
  border-radius: calc(6 / 16 * 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  

  &.img-html {
    background-color: var(--orange-50);
  }
  &.img-css {
    background-color: var(--green-100);
  }
  &.img-js {
    background-color: var(--blue-50);
  }
  &.img-accessibility {
    background-color: var(--purple-100);
  }

  & > img {
    width: 71.425%;
    aspect-ratio: 1 / 1;
  }
}

@media (width >= calc(768 / 16 * 1rem)) {
  .list {
    gap: var(--spacing-300);
  }

  .list-item {
    border-radius: var(--spacing-300);
  }

  .list-item__button {
    gap: var(--spacing-400);
    border-radius: var(--spacing-300);
  }

  .list-item__img-wrapper {
    width: var(--spacing-700);
    border-radius: calc(12 / 16 * 1rem);
  }
}

@media (width >= calc(1440 / 16 * 1rem)) {
  .list {
    gap: var(--spacing-200);
  }

  .list-item {
    padding: var(--spacing-300);
  }

  .list-item__button {
    padding: var(--spacing-300);
    margin: calc(var(--spacing-300) * -1);
  }
}
