@import url(font.css);
@import url(tokens.css);
@import url(header.css);
@import url(quiz-app-heading.css);
@import url(quiz-app.css);
@import url(list.css);
@import url(question-view.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg);
  padding-block-end: calc(207 / 16 * 1rem);
  background-image: radial-gradient(
    circle calc(977 / 2 / 16 * 1rem) at center,
    transparent calc(100% - calc(144 / 16 * 1rem)),
    var(--circle-fill) 0 100%,
    transparent 0
  );
  background-repeat: no-repeat;
  background-size: calc(977 / 16 * 1rem) calc(977 / 16 * 1rem);
  background-position: right bottom;
}

body:has(main.quiz-app__question-view) {
  padding-block-end: calc(87 / 16 * 1rem);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;
}

@media (width >= calc(768 / 16 * 1rem)) {
  body {
    padding-block-end: calc(225 / 16 * 1rem);
    background-position: left calc(-539 / 16 * 1rem) top calc(-446 / 16 * 1rem);
  }
}

@media (width >= calc(1440 / 16 * 1rem)) {
  body {
    padding-block-end: calc(272 / 16 * 1rem);
    background-image: radial-gradient(
        circle calc(977 / 2 / 16 * 1rem) at center,
        transparent calc(100% - calc(144 / 16 * 1rem)),
        var(--circle-fill) 0 100%,
        transparent 0
      ),
      radial-gradient(
        circle calc(977 / 2 / 16 * 1rem) at center,
        transparent calc(100% - calc(144 / 16 * 1rem)),
        var(--circle-fill) 0 100%,
        transparent 0
      );
    background-position: left calc(-540 / 16 * 1rem) top calc(-413 / 16 * 1rem),
      right calc(-437 / 16 * 1rem) bottom calc(-369 / 16 * 1rem);
  }
}
